# Dependencies
node_modules/
package-lock.json

# Build output
dist/
dist-ssr/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Local env
*.local
